In [14]:
#pip install pandas

In [15]:
#pip install pyreadstat

In [5]:
import pandas as pd
import pyreadstat

In [6]:
# Load .sav file into DataFrame
df = pd.read_spss('./BASE CASOS CEM - 2022_SDP.sav')

In [28]:
df = pd.read_spss('./BD Acciones de la Atención 2022.sav')

In [29]:
# Print column names and data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4306875 entries, 0 to 4306874
Data columns (total 5 columns):
 #   Column        Dtype
---  ------        -----
 0   CEM           object
 1   AÑO_CASO      float64
 2   FECHA_ACCION  object
 3   SERVICIO      category
 4   ACCION        category
dtypes: category(2), float64(1), object(2)
memory usage: 106.8+ MB

In [31]:
df.dtypes

CEM               object
AÑO_CASO         float64
FECHA_ACCION      object
SERVICIO        category
ACCION          category
dtype: object

In [30]:
# Show first few rows of data
df.head()

,CEM,AÑO_CASO,FECHA_ACCION,SERVICIO,ACCION
0,ABANCAY,2022.0,2022-01-03,Psicología,Evaluación de riesgo
1,ABANCAY,2022.0,2022-01-03,Psicología,Orientación a redes de soporte familiar
2,ABANCAY,2022.0,2022-01-03,Legal,Orientación a redes de soporte familiar
3,ABANCAY,2022.0,2022-01-24,Legal,Orientación a redes de soporte familiar
4,ABANCAY,2022.0,2022-06-01,Legal,Orientación a redes de soporte familiar

In [32]:
df.shape

(4306875, 5)

In [33]:
df.describe()

           AÑO_CASO
count  4.306875e+06
mean   2.021772e+03
std    6.611046e-01
min    2.006000e+03
25%    2.022000e+03
50%    2.022000e+03
75%    2.022000e+03
max    2.022000e+03

In [34]:
df.duplicated().sum()

2358450